<ion-view view-title="欢迎页">
  <ion-content scroll="false">
    <ion-slide-box>
      <ion-slide>
        <img class="full-image" src="/views/welcome/img/splsh_one.png">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="/views/welcome/img/splsh_two.png">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="/views/welcome/img/splsh_three.png">
      </ion-slide>
    </ion-slide-box>
    <div class="row padding-left padding-right" style="position: absolute;bottom: 10px;">
      <div class="col padding-left padding-right">
        <a class="button button-energized button-outline button-block" ui-sref="login">登陆</a>
      </div>
      <div class="col padding-left padding-right">
        <a class="button button-energized button-block">注册</a>
      </div>
    </div>
  </ion-content>
</ion-view>
